# Driver files
driver/.cache.mk
driver/.tmp_versions/
driver/*.o
driver/*.cmd
driver/Module.symvers
driver/modules.order
driver/xdma-core.o.ur-safe
driver/xdma.ko
driver/xdma.mod.c

# Test files
tests/dma_from_device
tests/dma_to_device
tests/performance
tests/reg_rw
tests/*.o
