*.o
*.o.ur-safe
*.o.cmd
*.ko

libxdma/libxdma.mod.c
libxdma/modules.order
libxdma/.tmp_versions
libxdma/.libxdma.ko.cmd
libxdma/.cache.mk
libxdma/Module.symvers

# One off kernel files
xdma/.cache.mk
xdma/.tmp_versions/
xdma/.xdma.ko.cmd
xdma/Module.symvers
xdma/modules.order
xdma/xdma.mod.c

tools/dma_from_device
tools/dma_to_device
tools/performance
tools/reg_rw

tests/data/output_*
